= render :partial => 'layouts/server_secondary', :locals => {:server => @server}
#main{:role => "main"} 
  #map
  :javascript
    orrmaps.server_map.init("#{@server.name.downcase.strip.gsub(' ', '_').gsub(/[^\w-]/, '')}");
