= render :partial => 'layouts/secondary', :locals => {:map => @map} if current_user
#main{:role => "main"} 
  #map
:javascript
  orrmaps.index.init();
- if !session[:alert2]
  :javascript
    orrmaps.alert.init("Southsun Cove has been added! Sorry, but I had to reset all marker locations to use the new maps.", 4000);
    orrmaps.alert.init("Server nodes reset on <strong>9/19</strong>", 8000);
