= render :partial => 'layouts/secondary', :locals => {:map => @map} if current_user
#main{:role => "main"} 
  #map
:javascript
  orrmaps.index.init();
- if session[:alert]
  :javascript
    orrmaps.alert.init("You can now <strong>dislike</strong> maps. Help make the server maps more accurate.", 4000);
    orrmaps.alert.init("Server nodes reset at <strong>9/7 at 4:16pm</strong>. Ori and wood nodes have been reset.", 8000);

