orrmaps.index = function() {
  var map, map_id;
  var markers = [];
  var current_marker, current_marker_id, current_info_box;
  var icon_type = "ore";

  var icon = function(img, votes) {
    var icon = "";
    var type = img.replace("/assets/tiles/","").replace(".png", "")
    if(votes == 4) icon = "80";
    if(votes == 3) icon = "60";
    if(votes == 2) icon = "40";
    if(votes == 1) icon = "20";
    if(votes < 1) icon = "20";
    return "/assets/tiles/" + type + icon + ".png";
  };

  var get_marker_id = function(latlng) {
    return latlng.toUrlValue(); 
  };

  var remove_current_marker = function() {
    current_marker.setMap(null);
    current_info_box.close();
    delete markers[current_marker_id];
    $.ajax({ url: '/points', 
             type: 'DELETE', 
             data: { 
               marker_id: current_marker_id,
               latitude: current_marker.position.Xa, 
               longitude: current_marker.position.Ya
             }
    });
  };

  var update_marker = function(marker) {
    marker_id = get_marker_id(marker.getPosition());
    $.ajax({ url: '/points', 
             type: 'PUT', 
             data: {
               latitude: marker.position.Xa, 
               longitude: marker.position.Ya, 
               marker_id: current_marker_id,
               new_marker_id: marker_id
             }
    });
  };

  var add_marker = function(point) {
    _point = new google.maps.LatLng(point.latitude, point.longitude)
    marker_id = get_marker_id(_point);

    var marker = new google.maps.Marker({
      position: _point,
      animation: google.maps.Animation.DROP,
      map: map,
      icon: point.icon,
      draggable: true,
      id: 'marker_' + marker_id
    }); 

    add_info_box(marker); 
    markers[marker_id] = marker;
  };

  var place_marker = function(location) {
    marker_id = get_marker_id(location);
    icon = "/assets/tiles/" + icon_type + ".png"

    $.ajax({
      url: 'points', 
      type: 'post',
      data: {icon: icon, map_id: map_id, latitude: location.Xa, longitude: location.Ya, marker_id: marker_id},
      success: function(json) {
        if(json.status == "unauthorized") {
          orrmaps.dialog.open();
        } else {
          var marker = new google.maps.Marker({
            position: location, 
            animation: google.maps.Animation.DROP,
            map: map,
            icon: icon,
            draggable: true,
            id: 'marker_' + marker_id
          });

          add_info_box(marker);
          markers[marker_id] = marker; 
        }
      }
    });
  };

  var init = function() { 
    $('.ore').live('click', function() { $('.tools a').removeClass('active'); $(this).addClass('active'); icon_type = "ore"; });
    $('.wood').live('click', function() { $('.tools a').removeClass('active'); $(this).addClass('active'); icon_type = "wood"; });

    $.get('/maps', function(data) {
      var map_options = {
        zoom: 4,
        center: new google.maps.LatLng(46.558860303117164, 10.37109375),
        disableDefaultUI: true,
      }

      var customMapType = new google.maps.ImageMapType({
        getTileUrl: function(coord, zoom) {
          var normalizedCoord = normalize(coord, zoom);
          if(normalizedCoord && (normalizedCoord.x < Math.pow(2, zoom)) && (normalizedCoord.x > -1) && (normalizedCoord.y < Math.pow(2, zoom)) && (normalizedCoord.y > -1)) {
            var tile = "" + zoom + '_' + normalizedCoord.x + '_' + normalizedCoord.y + '.jpg';
            return "<%= asset_path 'tiles/"+ tile +"' %>";
          } else {
            return "<%= asset_path 'tiles/_empty.jpg' %>";
          }
        },
        tileSize: new google.maps.Size(256, 256),
        maxZoom: 4,
        minZoom: 2
      });

      map = new google.maps.Map(document.getElementById('map'), map_options);
      google.maps.event.addListener(map, "click", function(event) {
        place_marker(event.latLng);
      });

      map.mapTypes.set('custom', customMapType);
      map.setMapTypeId('custom'); 

      var mc = new MarkerClusterer(map, markers); 
      map_id = data.map_id;

      points = $.parseJSON(data.points);
      if (points != "[]") {
        for (var i=0; i < points.length; i++) {
          add_marker(points[i]); 
        }
      }

    });
  };

  var add_info_box = function(marker) {
    var box = document.createElement("div");
    box.className = "info";
    box.innerHTML = "<a class='delete' href='#'><i class='icon icon-white icon-trash'></i></a><a class='report' href='#'><i class='icon icon-white icon-flag'></i></a>";

    $(box).find('.delete').click(function() { 
      remove_current_marker();
      return false;
    });

    var box_options = {
      content: box,
      disableAutoPan: false,
      maxWidth: 0,
      pixelOffset: new google.maps.Size(-25, 0),
      zIndex: null,
      boxStyle: { 
        background: "url('<%= asset_path 'tiles/tipbox.png'%>') no-repeat 48% 1px"
      },
      closeBoxURL: "<%= asset_path 'tiles/close.png' %>",
      infoBoxClearance: new google.maps.Size(1, 1),
      isHidden: false,
      pane: "floatPane",
      enableEventPropagation: false,
      id: 'marker_' + marker.id
    }
     
    var ib = new InfoBox(box_options);

    google.maps.event.addListener(marker, 'dragend', function() {
      update_marker(marker);
    });

    google.maps.event.addListener(marker, 'dragstart', function() {
      current_marker = marker;
      current_marker_id = marker.id.replace("marker_","");
    }); 

    google.maps.event.addListener(marker, "click", function(event) {
      current_marker = marker;
      current_marker_id = marker.id.replace("marker_","");
      current_info_box = ib;
      ib.open(map, this);
    });
  }; 
 
  var normalize = function(coord, zoom) {
     var y = coord.y;
     var x = coord.x;
     var tileRange = 1 << zoom;
     
     return {
       x: x,
       y: y
     };
  };
   
  return {
    add_marker: add_marker,
    remove_current_marker: remove_current_marker,
    place_marker: place_marker,
    get_marker_id: get_marker_id,
    normalize: normalize,
    init: init
  };
}();

 
