/*= require_self */

@import "bootstrap";
@import "bootstrap-responsive";

* { border: none; @include box-sizing(border-box); outline: none; }

body { 
  font-family: proxima-nova-1, proxima-nova-2, Helvetica;
  padding-top: 40px;
  background: #222;
  height: 100%;
  overflow: hidden;
}

a:hover { text-decoration: none; }

#map {
  position: fixed !important;
  height: 100%;
  width: 100%;
}

#sign_in, #servers {
  @include box-shadow(#{inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)});
  border: 1px solid #222;
  background: rgba(0,0,0,0.5);

  .close { color: #fff; }
  .modal-header { color: #fff; border-color: #222;}
  p {                                   color: #999; 
    color: #555; margin-bottom: 20px; 
    a { display: inline; color: #999; }
    strong { color: #999; }
    i { @include opacity(0.2); margin: 2px 2px; }
  }

  form {
    position: relative;
    margin: 0;

    div {
      padding: 0;
      margin: 0 0 10px 0;
      line-height: 1.4;

      &.errors { 
        display: none; 
        &.alert {
          margin-bottom: 20px;
          padding: 5px;
          text-shadow: none;
          background: #B94A48;
          border: none;
          color: #fff;
          i { float: left; margin-right: 5px; margin-top: 3px; @include opacity(0.3); }
          .error { margin: 0; .error { margin: 0; }}
        }
      }

      input[type=text], input[type=password] { 
        font-family: proxima-nova-1, proxima-nova-2;
        font-size: 16px;
        background: #fff;
        width: 100%;
        padding: 20px;
        padding-left: 35px;
        border: none;
        line-height: 130%;
        @include border-radius(4px);
        display: inline-block;
        &.username { background: #fff image-url("user.png") no-repeat 2% 50% }
        &.password { background: #fff image-url("password.png") no-repeat 2% 50% }
      }
      input[type=submit] {
        font-family: proxima-nova-1, proxima-nova-2;
        width: 100%;
        background-image: none;
        background: #444;
        border: none;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
#servers .modal-body { max-height: 600px !important; }
#servers { width: 660px !important; margin: -350px 0 0 -280px }

.info { 
  @include border-radius(4px); 
  background: rgba(0,0,0,0.7); 
  border-radius: 4px; 
  margin-top: 8px; 
  padding: 5px; 
  width: 53px;
  a { 
    @include opacity(0.7); 
    margin-left: 5px; 
    i { @include opacity(0.5); }
    &:hover { @include opacity(1); }
    &.report, &.report:hover { cursor: default; @include opacity(0.3); }
  }
}
.infoBox img { margin: 2px -6px !important; }

.navbar {
  font-size: 14px;
  text-shadow: none;
  @include box-shadow(#{inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)});

  &.navbar-inverse {
    z-index: 666;
    top: 40px;
    border-bottom: none;
    border-bottom: 3px solid #222;
    margin-bottom: 0;

    .navbar-inner { 
      background: #000;
      background-image: none;

      .brand {
        text-transform: none;
        color: #fff;

        i {
          margin-top: 6px;
          margin-right: 2px;
        } 
      }

      .logout {
        padding: 10px 20px 10px;
        float: left;  
        color: #fff;
        @include opacity(0.6);

        i { margin-top: 6px; }
        &:hover { @include opacity(0.8); }
      } 
    }
  }

  .navbar-inner {
    background: #fff;
    background-image: none;

    .brand { color: #000; }
    .nav {
      li {
        a { 
          outline: none;
          text-shadow: none;
          font-size: 14px;
          &:hover { color: #000; background: none; }
        }

        i {
          @include opacity(0.4);
          margin-top: 1px;
          margin-right: 2px;
        }

        &.server {
          padding: 11px 0px 11px 15px;
        }
      }
      & > .active > a { color: #000; background: none; }
      & > .rated.active > a { color: #000; position: relative; top: 1px; @include box-shadow(none); background: none; }

    }

    
  }

  .date, .like{
    font-weight: bold;
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    text-transform: lowercase;
    color: #fff;
    @include opacity(0.4);

    i {
      margin-top: 6px;
      margin-right: 2px;
    }
  }
  .like {
    @include opacity(1);
    i {
      margin-top: 6px;
      &.liked { background: image-url('liked.png') no-repeat; }
    }
  }

  .brand { 
    text-transform: uppercase;
    font-weight: 800;
    &:hover { background: none }
  }
}

#servers {
  .servers {
    float: left;
    margin-right: 3px;
    ul {
      margin: 0;
      padding: 0;
      &.nav-header { text-shadow: none }
      li {
        list-style: none;
        margin-right: 17px;
        text-shadow: none;
        &.active a { color: #fff; }
      }
    }
  }
}

#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 250px;
  color: #FFF;
  border-right: #000 5px solid;
  background: #2e2e2e;
  @include box-shadow(inset 2px 5px 10px #000);
}
#modal {
  h2 { 
    background: #000; padding: 0px 10px; text-align: center; font-size: 24px; text-transform: uppercase;  text-shadow: 0px 1px 0px #000; margin: 0; 
    .close { color: #fff; margin-top: 10px; &:active { top: 1px; position: relative} }
  }
  .meta { background: rgba(0,0,0,0.7); padding: 2px 0px; text-align: center; margin: 0 }
  .top {
    margin: 0; padding: 0;
    li {
      list-style: none;
      margin-bottom: 5px;
      &:nth-child(odd) { background: rgba(0,0,0,0.3); }
      padding: 3px;
      a { color: #fff; clear: both; font-size: 18px; padding: 2px 5px; display: block; }
      a:hover .map { padding-left: 3px; }
      div {
        &.map { @include transition(0.1s all linear);font-weight: bold; float: left; i { margin-top: 3px; margin-right: 1px; }}
        &.likes { 
          opacity: 0.4;
          i { margin-top: 3px; 
            &.liked { margin-top: 5px; margin-left: 2px; background: image-url('liked.png') no-repeat; }
          }
          float: right;
        }
      }
    }
  }
}


