/*= require_self */

@import "bootstrap";
@import "bootstrap-responsive";

body { padding-top: 40px; }

#map {
  position: fixed !important;
  width: 100%;
  height: 100%;
}

.info { 
  border-radius: 4px; 
  @include border-radius(4px); 
  margin-top: 8px; 
  background: rgba(0,0,0,0.7); 
  padding: 5px; 
  width: 53px;
  a { 
    @include opacity(0.7); margin-left: 6px; margin-right: 6px }
    &:hover { @include opacity(1); 
  }
}
.infoBox img { margin: 2px -6px !important; }

.navbar { font-size: 13px; }
.navbar{
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);  
  border-bottom: 1px solid #fff;
}
