/*= require_self */

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";
@import "bootstrap/tooltip";
@import "bootstrap/tables";
@import "bootstrap/component-animations";
@import "bootstrap/close";
@import "bootstrap/modals";
@import "bootstrap/alerts";
@import "bootstrap/buttons";
@import "font";
@import "growl";
@import "tables";

* {
  border: none;
  outline: none !important;
  @include box-sizing(border-box);
}
a, a:visited { color: #f90; text-decoration: none; }
a:hover { color: #d58000; text-decoration: none; }

body {
  font-family: "proxima-nova", Helvetica;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1f1f1f;
  overflow: hidden;

  &.invalid {
    #rated .close, #servers .close { display: none; }
    .back { display: inline-block; }
  }
}

#main {
  margin-left: 225px;
  margin-top: 0;
  min-height: 800px;
  padding: 0;
}

#sidebar {
  height: auto !important;
  overflow: visible !important;
  position: absolute;
  width: 225px;
  .ads {
    position: fixed;
    width: 225px;
    bottom: 0;
    a {
      font-size: 16px;
      padding: 10px;
      display: block;
      color: #bbb;
      position: relative; 
      i {
        color: #666;
        margin-right: 3px;
      }
      span {
        margin-top: 1px;
        float: right;
      }
      &:hover {
        background: #191919;
      } 
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0;
      border-top: 1px solid #282828;
      position: relative;
      &.logo { border: none; }
      &.server {
        border-top: none;
        position: relative;
        .chzn-container a {
          padding: 10px;
          background: #283853;
          color: #fff;
          &:hover {
            background: #25344d;
            i { color: #fff; }
          } 
        }
        .chzn-drop { display: none; }
        .chzn-drop.open { display: block; }
        .icon {
          top: 12px;
          right: 12px;
          position: absolute;
          &.open { 
            i:before { content: '\2715' }
          }
          i {
            color: rgba(255,255,255,0.7);
            margin-right: 0;
          }
        }
      }
      &.user {
        border-top: 1px solid #111;
        @include gradient-vertical(#4d6895, #3a5482);
        .user-menu { display: none; }
        &.open {
          .user { border-bottom: none; }
          i { color: #fff; }
          .wrench .icon-wrench:before { content: '\2715' }
          .user-menu {
            display: block;
            padding: 0;
            ul {
              padding: 0px;
              li {
                border-top: none;
                padding: 0px ;
                a {
                  padding: 5px 10px;
                  font-size: 14px;
                  color: #fff;
                  i { color: rgba(255,255,255,0.4); }
                  &:hover {
                    background: rgba(0,0,0,0.1);
                    i { color: rgba(255,255,255,0.6); }
                  }
                }
              }
            }
          }

        }
      }
      &.selected {
        a {
          background: #151515;
          color: #fff;
          &:hover {
            background: #151515;
          }
          i { color: #f9f9f9; }
        }
      }
      a {
        font-size: 16px;
        padding: 10px 8px;
        display: block;
        color: #bbb;
        position: relative;
        i {
          color: #666;
          margin-right: 3px;
        }
        span {
          margin-top: 1px;
          float: right;
        }
        &:hover {
          background: #191919;
        }
        &.user {
          color: #fff;
          text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
          i { color: rgba(255,255,255,0.7); }
          span i { color: rgba(255,255,255,0.7); }
          &:hover { background: rgba(0,0,0,0.1); }
          &:hover span i { color: #fff; }
        }
        &.reset {
          top: 0;
          right: 0;
          position: absolute;
          padding-right: 15px;
          color: #fff;
          i {
            color: rgba(255,255,255,0.7);
            margin-top: 1px;
            margin-right: 0;
          }
        }

        &.logo {
          text-transform: uppercase;
          padding: 8px 15px;
          color: #fff;
          text-shadow: 0px 1px 1px #000;
          font-weight: bold;
          font-size: 1.3em;
          padding-left: 10px;
        }
      }
    }
  }
}

.modal {
  @include box-shadow(#{inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)});
  border: 1px solid #222;
  background: rgba(0,0,0,0.5);

  .close { color: #fff; }

  .modal-header {
    color: #fff;
    border-color: #222;

    .back {
      float: right;
      display: none;
      margin-right: 5px;
      margin-top: 5px;
      i { @include opacity(0.2); }
    }
  }

  p {
    margin-top: 0;
    color: #555;
    margin-bottom: 20px;
    font-size: 15px;
    a { display: inline; color: #999; }
    strong { color: #999; }
    i { @include opacity(0.2); margin: 2px 2px; }
  }

  .new_user {
    position: relative;
    margin: 0;

    div {
      padding: 0;
      margin: 0 0 10px 0;
      line-height: 1.4;

      &.errors {
        display: none;
        &.alert {
          margin-bottom: 20px;
          padding: 5px;
          text-shadow: none;
          background: #B94A48;
          border: none;
          color: #fff;
          i { float: left; margin-right: 5px; margin-top: 3px; @include opacity(0.3); }
          .error { margin: 0; .error { margin: 0; }}
        }
      }

      input[type=text], input[type=password] {
        font-family: "proxima-nova";
        font-size: 16px;
        height: auto;
        background: #fff;
        width: 100%;
        padding: 10px;
        padding-left: 35px;
        border: none;
        line-height: 130%;
        @include border-radius(4px);
        display: inline-block;
        &.username { background: #fff image-url("user.png") no-repeat 2% 50% }
        &.password { background: #fff image-url("password.png") no-repeat 2% 50% }
      }
      input[type=submit] {
        font-family: "proxima-nova";
        width: 100%;
        background-image: none;
        background: #444;
        border: none;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

#servers {
  width: 660px !important;
  margin: -350px 0 0 -280px;

  .modal-body { max-height: 600px !important; }
}

#servers {
  .servers {
    float: left;
    margin-right: 3px;
    ul {
      margin: 0;
      padding: 0;
      &.nav-header { text-shadow: none }
      li {
        list-style: none;
        margin-right: 17px;
        text-shadow: none;
        &.active a { color: #fff; }
      }
    }
  }
}

#rated {
  padding: 0;
  width:650px !important;

  h3 span { color: #444; float: right; margin-right: 20px; font-size: 20px; }
  .modal-body {
    max-height: 480px;
    padding: 0;

    .row { margin: 15px 0 10px; padding: 0px 15px }
    .page { float:right; width:auto; }
    .search { float:left; }
    .pagination a, .pagination span {
      float: left;
      line-height: 30px;
      padding: 0 8px;
      border: 1px solid #222;
      background: #000;
      color: #f90;
      @include background-clip(padding-box);
    }
    .pagination a:hover, .pagination .active a, .pagination .active span { background: #111; }
  }
}

@import "map";
@import "faq";
