div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  color: #ddd;
  cursor: pointer;
  *cursor: hand;
}

table.table thead .sorting { background: image-url('sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: image-url('sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: image-url('sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: image-url('sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: image-url('sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
  outline: none;
}

/* Scrolling */                 a
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  border-top: none;
}




/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
  background-color: #08C;
  color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
  cursor: pointer;
  *cursor: hand;
}

div.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}

div.DTTT .btn:hover {
  text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
  color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}

div.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}

div.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: #303030;
}

div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}

div.DTFC_LeftFootWrapper table {
  border-top: none;
}

.table { border-bottom: 1px solid #222; }
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #303030;
  &:nth-child(even) { background-color: rgba(40,40,40,.3);}
  span { @include opacity(0.2); }
  i { @include opacity(0.2); }
  color: #fff;
}
.dataTables_filter {
  input {
    font-family: proxima-nova-1, proxima-nova-2;
    font-size: 14px;
    height: auto;
    padding: 5px 8px;
    padding-left: 25px;
    border: none;
    line-height: 130%;
    @include border-radius(4px);
    display: inline-block;
    background: rgba(0,0,0,0.7) image-url("search.png") no-repeat 3% 50%;
    border: 1px solid #222;
    &:focus { border: 1px solid #202020; @include box-shadow(none); @include background-clip(padding-box); }
  }
} 

/* @group Base */
.chzn-container {
  font-size: 13px;
  position: relative;
  display: inline-block;
  zoom: 1;
  width: 225px !important;
  *display: inline;
}
.chzn-container .chzn-drop {
  border-top: 0;
  left: 0;
  z-index: 1010;
}
.chzn-container-active .chzn-drop {
}

/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  width: 225px !important;
}
.chzn-container-single .chzn-default {
  color: #999;
}
.chzn-container-single .chzn-single span {
  float: none !important;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 6px;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: -42px -10px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: -42px -10px;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
.chzn-container-single .chzn-single div b {
  display: block;
  width: 100%;
  height: 100%;
}
.chzn-container-single .chzn-search {
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.chzn-container-single .chzn-search input {
  background: rgba(0,0,0,0.5) image-url('search.png') no-repeat 15px 10px;
  width: 225px !important;
  padding: 8px 15px 8px 35px !important;
  outline: 0;
  border: none;
  color: #777;
}
.chzn-container-single .chzn-drop {
  width: 225px !important;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px;
}

/* @group Results */
.chzn-container .chzn-results {
  max-height: 240px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0; padding: 0;
}

.chzn-container .chzn-results li {
  display: none;
  color: #ddd;
  padding: 4px 15px !important;
  margin: 0;
  list-style: none;
}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}
.chzn-container .chzn-results .highlighted {
  background-color: #252525;
  color: #fff;
}
.chzn-container .chzn-results li em {
  color: #aaa;
  font-style: normal;
}
.chzn-container .chzn-results .no-results {
  background: #000;
  display: list-item;
}
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}
.chzn-container .chzn-results-scroll {
  background: #000;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px; /* This should by dynamic with js */
  z-index: 1;
}
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}
/* @end */

/* @group Active  */

.chzn-container-active .chzn-single {

}
.chzn-container-active .chzn-single-with-drop {
  background: #191919;
}
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 2px;
}
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: #000;
}
