#faq.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %h1 Orrmaps
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#faqs"} 
          %i.icon-white.icon-question-sign
          FAQ
      %li
        %a{"data-toggle" => "tab", :href => "#donate"} 
          %i.icon-white.icon-heart
          Donate
  .modal-body
    .tabbable
      .tab-content
        #faqs.tab-pane.active
          .header Help and Questions
          %ul#questions
            %li.open
              %a.question{:href => "#"} What's this site for?
              .answer 
                When you hit 80 in Guild Wars 2, most of the exotic end game gear, weapons, and legendaries require 
                %a{:href => "http://wiki.guildwars2.com/wiki/Orichalcum_Ore"} Orichalcum ore
                and
                %a{:href => "http://wiki.guildwars2.com/wiki/Ancient_Wood"} Ancient wood
                These materials can be gathered in the Machlor's Leap, Cursed Shore, and Frostgorge Sound. The locations of these materials change every week and are different by server. This site keeps track of the locations by server, and resets each week.
            %li
              %a.question{:href => "#"} How do I make my own map?
              .answer Just sign in! If you are not registered, it will automatically make an account for you with a new map. Once you log in, you'll see an empty map where you can add markers to it by selecting a marker from the toolbox at the top right and clicking on the map.
            %li
              %a.question{:href => "#"} How does the Server map work?
              .answer 
                Each map on a server keeps track of
                %strong likes.
                The points on the maps with the most likes will be more visible than the other maps on the server map. To like a map, visit it's individual page and click on the thumbs up icon.
            %li
              %a.question{:href => "#"} Who made this?
              .answer 
                My name is 
                %a{:href => "http://twitter.com/brousalis"} Pete
                , or 
                %strong brous.
                I'm a software developer from Chicago. You can find my personal website
                %a{:href=>"http://www.brousalis.com"} here
                I play on Blackgate as Brous and Rewket. 
                %a{:href => "http://twitter.com/davidpick"} David Pick 
                helped clean up the mess I started here. If you're interested in the code of the website, or want to work on a project together, or for just about anything, feel free to send me an 
                %a{:href=>"mailto:brousapg@gmail.com"} email
        #donate.tab-pane
          .wrap
            %h1 Donate to a good cause
            %p 
              The site has grown large enough that more hardware was needed to support the amount of users. It now costs $35 a month, and I don't mind paying it. However, in order to keep my consultant 
              %strong Jack Daniels 
              on call at all times - I could use some help. If you can't donate, help share the word about the website and we'll call it even. If you donate, you gain the ability to like your own map, among other things.
            %p{:style => "padding:0px 15px;"} Thanks for using the site,
            %p{:style => "padding:0px 15px;"}  
              %strong brous
            %p
              %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
                %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
                  %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYADmJCczPy34w6ZLgvBIrIq+7aisbxzg9iymC/OA3BGdpJK1N6T+SrAXtx+C2UDqdYZRZfOoiUD3jqfAdpNOQCFVKeBSO+87fPlegdQtNTCFH//nWSWHr+InzSvumoLnYEzmS8X8nTRMPYuQ7X6B5ZeyOa1FYsO/AXZROsMPOawRTELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQITqDcYvyI1ZiAgZA02S9Y/RceCa0YKnyBACAUvYM0CU0VJaXL5EbS4eIf99POdJDiTmpTaW4uXDTgajgFn32h8u20K5IqJHnPPNAJx8fVex+Qh6ubKWjIFm7lJNmSm4RvwwxC1WfjGwbVnKPOsCbbk8OL2lXj/1S7DAApC+QYkTg3SfqZkTod0mDGWfLmvRoHk0JY3Ughz/x2q3agggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMjExMDUwMTM4MTdaMCMGCSqGSIb3DQEJBDEWBBSjcLP2U83GXubKd24byPKIBvmwYTANBgkqhkiG9w0BAQEFAASBgLQsfbBC7Ij73aSOmhjF8JHTsRG70iO7lR6xpDua0648qSiMUYQfnlvQTc/mgqLKoNjzYaWLet5O+n/mn7qSwCKE7jILc/wA28F0ziI/FDa/TK1nMRqiOi4nTkjz2kVNYQbwHXEdeGlNh00ExF0bIoSLpnlfhQZN+XkJriW+PEho-----END PKCS7-----\r\n"}
                    %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif", :type => "image"}
                      %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}

  .modal-footer
    .meter
      .cost Monthly cost
      .progress
        %span $35
        .bar{:style => "width:35%"}
          %span $10
      .heart
        %a{:href => "#donate", "data-toggle" => "tab"}
          %i.icon.icon-white.icon-heart
    %a.email{:href => "mailto:orrmaps@gmail.com"}
      %i.icon-white.icon-envelope 
      email
