%div.navbar.navbar-fixed-bottom#footer
  %nav.navbar-inner
    .container  
      %a.close{:href => "#"} ×
      %i.icon-white.icon-exclamation-sign{:style => "opacity:0.4;margin-top:2px;margin-right:2px"}
      %span.msg Sorry everyone, the database crashed and servers/maps got reset. Backups are working now.
