.container
  %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.brand{:href => "./index.html"} Bootstrap
  .nav-collapse.collapse
    %ul.nav
      %li
        %a{:href => "./index.html"} Home
      %li
        %a{:href => "./getting-started.html"} Get started
      %li
        %a{:href => "./scaffolding.html"} Scaffolding
      %li
        %a{:href => "./base-css.html"} Base CSS
      %li
        %a{:href => "./components.html"} Components
      %li.active
        %a{:href => "./javascript.html"} Javascript
      %li
        %a{:href => "./customize.html"} Customize
