#sidebar
  %ul
    %li.logo
      %a.logo{:href => "/"} orrmaps
      %a.reset{:href => "#", :rel => "tooltip", :title => "Last location reset", :"data-placement" => "right"}
        %i.icon-clock
        = last_reset.strftime("%m/%d")
    %li.user
      - if current_user
        %a.user{:href => "#"}
          %i.icon-user
          = current_user.name
          %span.wrench
            %i.icon-wrench
        .user-menu
          %ul
            %li
              %a{:href => "/user/delete"}
                %i.icon-cancel
                Delete account
            %li
              %a{:target => "_blank", :href => "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Q8FJSMSQHRMDA&lc=US&item_name=orrmaps&item_number=42&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"}
                %i.icon-heart
                Donate
            %li
              %a{:href => "/logout"}
                %i.icon-off
                Logout
      - else
        %a.user{:href => "#sign_in", :"data-toggle" => "modal"}
          %i.icon-exclamation
          Login or Register
    %li.server
      %select.chzn-select{:"data-placeholder" => @server.name}
        %option{:value=>""}
        - @servers.each do |server|
          %option{:value => server}= server
      %span.icon
        %i.closed.icon-pencil

    %li.selected
      %a.your_map{:href => "#"}
        %i.icon-home
        Your map
    %li
      %a.server_map{:href => "#"}
        %i.icon-globe
        Server map
    %li
      %a.map_list{:href => "#rated", :"data-toggle" => "modal"}
        %i.icon-air
        Map list
    %li
      %a.filter{:href => "#"}
        %i.icon-location
        Filter icons
        %span
          %i.icon-right-dir
    %li
      %a.temple{:href => "#"}
        %i.icon-lock
        Temple status
        %span
          %i.icon-right-dir
  .ads
    %a{:target => "_blank", :href => "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Q8FJSMSQHRMDA&lc=US&item_name=orrmaps&item_number=42&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"}
      %i.icon-heart
      Donate
