#rated.modal.hide.fade{:role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 Map list for #{@server.name}
  .modal-body
    %table.table
      %thead
        %tr
          %th Name
          %th Likes
          %th Points
          %th Updated at

