%div.navbar.navbar-inverse.navbar-fixed-top
  %nav.navbar-inner
    .container 
      - if user_signed_in?
        .brand{:href => "#"}
          %i.icon.icon-white.icon-user
          = current_user.name
        %a.date{:href => "#"}
          %i.icon.icon-white.icon-calendar
          = Date.today.strftime("%b %e")
        %a.rating{:href => "#"}
          %i.icon.icon-white.icon-thumbs-up
          233
          likes
        .pull-right
          %a.logout{:href => "/users/sign_out"}
            %i.icon.icon-white.icon-off

